# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build and cache files
dist/
build/
.cache/
.vscode/
.DS_Store
